{{extend 'layout.html'}}

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<br><br>
			<div class="panel panel-default">
				<br>
				<div class="panel-heading">
					<strong>Create a Default Data Waterdrop</strong>
				</div>
				<div class="panel-body">
					<div style ="font-size:0px;">
						{{=form}}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<hr>
<!-- <div class="container">
	<div class="panel panel-success">
		<div class="panel-heading">
			<strong>One Panel Creation</strong>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-md-12">
						<div class="panel panel-success">
							<div class="panel-heading">
								Name?
							</div>
							 <div class="panel-body">
									Body
							</div>					
						</div>
				</div>
			</div>	
			<div class="row">
					<div class="col-md-4">
						<div class="panel panel-success">
							<div class="panel-heading">
									Catchment	
							</div>
							 <div class="panel-body">
									Body
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="panel panel-success">
							<div class="panel-heading">
									Head	
							</div>
							 <div class="panel-body">
									Body
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="panel panel-success">
							<div class="panel-heading">
									Head	
							</div>
							 <div class="panel-body">
									Body
							</div>
						</div>
					</div>
				</div>
		</div>		
	</div>				
</div> -->