{{extend 'layout.html'}}

<div class="container">
	<div class="row">
		<div class="col-md-4">
<!-- Basin Name -->
			<div class="panel panel-default">
				<div class="panel-heading">
					 <strong> {{=name}} </strong>
				</div>
			</div>
<!-- Input Data -->
			<div class="panel panel-default">
				<div class="panel-heading">
					 <strong> Input Data </strong>
				</div>
				<div class="panel-body">
					<strong>Area: </strong> {{=A}} km<sup>2</sup><br>
					<strong>River Lenght:</strong> {{=L}} m<br>
					<strong>Perimeter:</strong> {{=P}} m	
				</div>
			</div>
		</div>
		<div class="col-md-8">
			<div class="panel panel-default">
				<div class="panel-heading">
					<strong>Analysis Description</strong>
				</div>
				<div class="panel-heading">
					 <strong>Indices</strong>
				</div>
				<div class="panel-body">
<!-- Text  -->
				<p class="text-justify">
							A watershed is a geographical unit in which the hydrological cycle and its components can be analysed.The physiographical characteristics of a watershed influence to a large degree its hydrological responses and especially the flow regime during floods and periods of drought.(soon more Detailed Text)
				</p>

				</div>
			</div>
		</div>
	</div>
</div>


<!-- Results -->
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<strong>Results</strong>
				</div>
				<div class="panel-body">
<!-- Table Results -->
					<div class="table-responsive">
						<table class="table">
							<thead>
								<tr>
								  <th>Compactness </th>
								  <th>Form Factor</th>		
								  <th>Circularity</th>
								  <th>Elongation</th>
								</tr>
							</thead>
							<tbody>
								<tr>
								  <td>{{= compactness}}</td>
								  <td>{{= form_factor}}</td>
								  <td>{{= circularity}}</td>
								  <td>{{= elongation}}</td>
								</tr>
							</tbody>
						</table>
					</div>				
				</div>
			</div>
		</div>
	</div>
</div>
